#button {
  width: 60%;
}

#mint {
  background-color: #BEFFE7;
  padding: 20px;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 20px;
  text-align: center;
}

table {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}